@font-face {
    font-family: EBGaramond-Regular;
    src: url(EBGaramond-Regular.ttf);
}

p {
  font-family: "EBGaramond-Regular","Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.2em;
}

.bodyWithBackground {
  background-image: url('../assets/Wikipedia-puzzleglobe-V2_back-dim.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.bodyNoBackground {
  
}

header a {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: white;
}

@keyframes blinker {
  50% { opacity: 0.2; }
}