@font-face {
    font-family: EBGaramond-Regular;
    src: url(EBGaramond-Regular.ttf);
}

.bgImage {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  opacity: 0.2;
}

.searchArea {
  top: 50%;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchInOut-enter {
  opacity: 0.01;
}

.searchInOut-enter.searchInOut-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.searchInOut-leave {
  opacity: 0.01;
}

.searchInOut-leave.searchInOut-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

@keyframes blinker {
  50% { opacity: 0.2; }
}